
form {
    display: flex;
    flex-direction: column;
    width: 1200px;
    height: 100vh; /* 100% of the viewport height */
    
    background-color: white;
    
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
  }
  h2 {
    position: fixed;
    top: 60px;
    border-bottom: 2px solid ;

    
  }
  .bottom {
    margin-bottom: 150px;
  }
  
  .input-group {
    display: flex;
    
    
    flex-direction: column;
    text-align: left;
    gap: 15px;
    
  }
  
  label {
    width: 200px;
    font-size: 18px;
    font-weight: 100;
    text-align: left;
  }
  
  input[type="text"],
  input[type="file"] {
    width: 300px;
    padding: 15px 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
    font-size: 14px;
    margin-bottom: 5px;
  }
  
  
  button {
    background-color:#90EE90;
    color: black;
    padding: 20px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    margin-left: 50px;
  }
  
  .required {
    color: red;
    font-size: 12px;
    margin-left: 5px;
  }
  
  button:hover {
    background-color: white;
    border: 1px solid #90EE90;
  }
  