.home-container {
    position: relative; /* Create a positioning context for the child */
    width: 100%; /* You can adjust the width as needed */
    
   
}

.right-image {
    position: fixed;
    right: -80px;
    top: 70px; /* You can adjust the top position if necessary */
    z-index: 1; /* Adjust the z-index if needed to control the stacking order */
    opacity: 0.7;
    transition: 0.3s;
}
.right-image:hover {
    opacity: 1.5;
}
#image_lost {
    width: 950px;
    
}
#centerText {
    font-size: xx-large;
    font-family: Poppins;
    font-weight: 1400;
    max-width: 50% ;
}
#new_center {
    max-width: 50%;
    font-weight: 200;
    font-size: large;
    margin-top: 40px;
}

.homeText {
    margin-top: 250px;
    margin-bottom: 170px;
    margin-left: 30px;
}

#lost_btn {
    background-color: #90EE90;
    color: black;
    
    border: 1px solid ;
    transition: 0.3s;

}
#lost_btn:hover {
    background-color: white;

}
#found_btn {
    padding: 16px 10px;
    background-color: white;
    border: 1px solid ;
    transition: 0.9s;
}
#found_btn:hover {
   background-color:  #90EE90;
}
.homeButtons{
    display: flex;
    flex-direction: row;
    gap: 90px;
    margin-left: 90px;
}



/* Add any other styles as needed */
