:root {
  background-image: url('https://t3.ftcdn.net/jpg/04/12/82/16/360_F_412821610_95RpjzPXCE2LiWGVShIUCGJSktkJQh6P.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
@tailwind base;
@tailwind components;
@tailwind utilities;


